{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cryptoking is Professional Creative Template" />
    <!-- SITE TITLE -->
    <title>Cryptoking - Bitcoin & ICO Cryptocurrency Landing Page HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/favicon.png' %}">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="{% static '/css/animate.css' %}">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static '/css/ionicons.min.css' %}">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="{% static '/owlcarousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/owlcarousel/css/owl.theme.css' %}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css' %}">
    <!-- Style CSS  -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <!-- Color CSS -->
    <link rel="stylesheet" href="{% static '/color/theme.css' %}">
</head>

<body class="v_dark" data-spy="scroll" data-offset="110">
    <!-- LOADER -->
    <div class="preloader">
        <div id="g-spinner" class="loading">
            <div class="circle c1"></div>
            <div class="circle c2"></div>
            <div class="circle c3"></div>
            <div class="circle c4"></div>
        </div>
    </div>
    <!-- END LOADER -->

    <!-- START HEADER -->
    <header class="header_wrap fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand page-scroll animation" href="#home" data-animation="fadeInLeft" data-animation-delay="0.8s">
                    <img class="logo_light" src="{% static '/images/logo.png' %}" alt="logo" />
                    <img class="logo_dark" src="{% static '/images/logo_dark.png' %}" alt="logo" />
                </a>
                <button class="navbar-toggler animation" data-animation="fadeInRight" data-animation-delay="1.2s" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="ion-android-menu"></span> </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav animation" data-animation="fadeInDown" data-animation-delay="1.2s">
                        <li><a class="nav-link page-scroll" href="#how_it_work">How it Work</a></li>
                        <li><a class="nav-link page-scroll" href="#about">About</a></li>
                        <li><a class="nav-link page-scroll" href="#token">Token</a></li>
                        <li><a class="nav-link page-scroll" href="#road_map">Road Map</a></li>
                        <li><a class="nav-link page-scroll" href="#team">Team</a></li>
                        <li><a class="nav-link page-scroll" href="#faq">FAQ</a></li>
                        <li><a class="nav-link page-scroll" href="#contact">Contact</a></li>
                    </ul>
                    <ul class="navbar-nav nav_btn animation" data-animation="fadeInRight" data-animation-delay="1.6s">
                        <li><a class="btn btn-default" href="login-dark.html">Login</a></li>
                        <li><a class="nav-link page-scroll btn btn-default" href="#mobileapp">Our App</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- START HEADER -->

    {% block content %}
    {% endblock %}




<!-- START FOOTER SECTION -->
<footer>
    <div class="top_footer bg_black_dark text_md_center">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-sm-12 res_lg_mb_50 res_sm_mb_40">
                    <h4 class="animation footer_title" data-animation="fadeInUp" data-animation-delay="0.2s">Social Media</h4>
                    <ul class="list_none footer_social">
                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.1s"><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.5s"><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.7s"><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.9s"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-sm-12 res_lg_mb_50 res_sm_mb_40">
                    <div class="newsletter_form newslattter_small">
                        <h4 class="animation footer_title" data-animation="fadeInUp" data-animation-delay="0.2s">Subscribe Our Newsletter</h4>
                        <form class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                            <div class="outline_input">
                                <input type="text" required placeholder="Enter Email Address" />
                            </div>
                            <button type="submit" title="Subscribe" class="btn btn-default" name="submit" value="Submit"><span class="ion-android-send"></span>Subscribe <i class="ion-ios-arrow-thin-right"></i></button>
                        </form>
                    </div>

                </div>
                <div class="col-xl-3 col-lg-12 col-sm-12">
                    <h4 class="animation footer_title" data-animation="fadeInUp" data-animation-delay="0.2s">Quick Links</h4>
                    <ul class="list_none footer_link animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                        <li><a href="#">Cryptoking ICO</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">Whitepaper</a></li>
                        <li><a href="#">Tokens</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Road Map</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rounded_shape light_rounded_shape4"></div>
    </div>
    <div class="bottom_footer staggered-animation-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright staggered-animation" data-animation="fadeInLeft" data-animation-delay="0.1s">Copyright © 2018 All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list_none footer_menu staggered-animation" data-animation="fadeInRight" data-animation-delay="0.2s">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->






    <a href="#" class="scrollup btn-default animation" data-animation="zoomIn" data-animation-delay="0.1s" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
    <script src="{% static '/js/jquery-1.12.4.min.js' %}"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- owl-carousel min js  -->
    <script src="{% static '/owlcarousel/js/owl.carousel.min.js' %}"></script>
    <!-- magnific-popup min js  -->
    <script src="{% static '/js/magnific-popup.min.js' %}"></script>
    <!-- waypoints min js  -->
    <script src="{% static '/js/waypoints.min.js' %}"></script>
    <!-- parallax js  -->
    <script src="{% static '/js/parallax.js' %}"></script>
    <!-- countdown js  -->
    <script src="{% static '/js/jquery.countdown.min.js' %}"></script>
    <!-- particles min js  -->
    <script src="{% static '/js/particles.min.js' %}"></script>
    <!-- chart js  -->
    <script src="{% static '/js/Chart.bundle.js' %} "></script>
    <script src="{% static '/js/Chart.PieceLabel.min.js' %}"></script>
    <script src="{% static '/js/chart_script.js' %}"></script>
    <!-- scripts js -->
    <script src="{% static '/js/scripts.js' %}"></script>

</body>

</html>

