{% extends "blog/base.html" %}

{% load static %}    

{% block content %}
<!-- START SECTION BANNER -->
<section id="home" class="banner_section section_gradiant_dark small_pb">
    <div id="banner_bg_effect" class="banner_effect"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first text_md_center">
                <div class="banner_text">
                    <h1 class="animation" data-animation="fadeInUp" data-animation-delay="1.5s"><span>Cryptoking</span> Landing Page</h1>
                    <h3 class="animation" data-animation="fadeInUp" data-animation-delay="1.6s">Start Bitcoin mining today!</h3>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="1.7s">The highest paying Bitcoin mining pool and cloud mining provider on the market. Start mining Bitcoin today!</p>
                    <div class="banner_btn animation" data-animation="fadeInUp" data-animation-delay="1.8s">
                        <a href="#whitepaper" class="btn btn-default page-scroll nav-link">Whitepapter <i class="ion-ios-arrow-thin-right"></i></a>
                        <a href="#" class="btn btn-border">Buy Token Now! <i class="ion-ios-arrow-thin-right"></i></a> </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 order-first">
                <div class="banner_image_right res_md_mb_50 res_xs_mb_30 animation" data-animation="fadeInRight" data-animation-delay="1.5s">
                    <img src="{% static '/images/banner_vector2.png' %}" alt="banner_vector2" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->

<!-- START SECTION HOW IT WORK -->
<section id="how_it_work" class="how_work small_pt small_pb" data-parallax="scroll" data-image-src="{% static '/images/team_bg2.png' %}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="title_light">
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">How it Works</h2>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Bitcoin Mining is a peer-to-peer computer process used to secure and verify bitcoin transactions—ayments from one user to another on a decentralized network.Mining involves adding bitcoin transaction data to Bitcoin's global public ledger of past transactions.</p>
                </div>
                <a href="#mobileapp" class="btn btn-default page-scroll animation" data-animation="fadeInUp" data-animation-delay="0.3s">Download App <i class="ion-ios-arrow-thin-right"></i></a> </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="work_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <div class="box_inner"> <i class="ion-person-add"></i>
                        <h4>Create Account</h4>
                        <p>Bitcoin Core, however, is a full node, meaning it helps verify and transmit other Bitcoin transactions across the network and stores copy of the entire blockchain.</p>
                    </div>
                </div>
                <div class="work_box animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                    <div class="box_inner"> <i class="ion-ios-locked"></i>
                        <h4>Safe & Secure</h4>
                        <p>We take careful measures to ensure that your bitcoin is as safe as possible. Offline storage provides an important security measure against theft or loss. </p>
                    </div>
                </div>
                <div class="work_box animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                    <div class="box_inner"> <i class="ion-android-cart"></i>
                        <h4>Buy & Sell</h4>
                        <p>Blockchain works with exchange partners all around the world to make buying bitcoin in your wallet both a seamless and secure experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape shap5"></div>
</section>
<!-- END SECTION HOW IT WORK -->

<!-- START SECTION ABOUT US -->
<section id="about" class="small_pt small_pb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="title_light">
                    <span class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">What is Cryptoking</span>
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">About The Cryptoking</h2>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">A cryptocurrency is a digital or virtual currency designed to work as a medium of exchange. It uses cryptography to secure and verify transactions as well as to control the creation of new units of a particular cryptocurrency. </p>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.5s">Essentially, cryptocurrencies are limited entries in a database that no one can change unless specific conditions are fulfilled.</p>
                </div>
                <a href="https://www.youtube.com/watch?v=ZE2HxTmxfrI" class="btn btn-default video animation" data-animation="fadeInUp" data-animation-delay="0.6s"><span class="ion-play"></span>Let's Start <i class="ion-ios-arrow-thin-right"></i></a> </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="animation res_sm_mt_30" data-animation="fadeInRight" data-animation-delay="0.1s">
                    <img src="{% static '/images/about_img3.png' %}" alt="aboutimg" />
                </div>
            </div>
        </div>
        <div class="divider large_divider"></div>
        <div class="row text-center">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="title_light">
                    <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Why Cryptoking</span>
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Competitive Benefit</h2>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Competitive advantages are conditions that allow a company or country to produce a good or service at equal value but at a lower price or in a more desirable fashion</p>
                </div>
            </div>
        </div>
        <div class="row text-center small_space benefit_wrap">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                    <img src="{% static '/images/secure.png' %}" alt="secure" />
                    <h6>Safe & Secure</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <img src="{% static '/images/token.png' %}" alt="token" />
                    <h6>Excerpt Tokens</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <img src="{% static '/images/payment.png' %}" alt="payment" />
                    <h6>Easy Payment</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <img src="{% static '/images/case.png' %}" alt="case" />
                    <h6>Daily Cash Outs</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                    <img src="{% static '/images/app.png' %}" alt="app" />
                    <h6>Smart Application</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                    <img src="{% static '/images/dilution.png' %}" alt="dilution" />
                    <h6>NO DILUTION</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION ABOUT US -->

<!-- START SECTION TOKEN -->
<section id="token" class="section_token small_pt small_pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 text_md_center">
                <div class="title_light">
                    <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Tokens</span>
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Pricing & values</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                            <h6>Starting time :</h6>
                            <p>April 23, 2018 (Monday 9:00 AM)</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <h6>Ending time :</h6>
                            <p>June 18, 2018 (Monday 11:00 PM)</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                            <h6>Market Caps :</h6>
                            <p>$ 118.23 (Billion)</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                            <h6>Low - High 24h :</h6>
                            <p>$ 6,455.83 - $ 7,071.42</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                            <h6>Available Token :</h6>
                            <p>$ 120 (Billion)</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                            <h6>Acceptable Currency :</h6>
                            <p>BTC, Eth, Ltc</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2 text_md_center res_md_mt_30">
                <div class="title_light">
                    <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Start In</span>
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">ICO is On Live NOW!</h2>
                </div>
                <div class="tk_countdown text-center animation countdown_shape" data-animation="fadeInUp" data-animation-delay="0.1s">
                    <div class="tk_counter_inner">
                        <div class="tk_countdown_time" data-time="2018/09/06 00:00:00"></div>
                        <a href="#" class="btn btn-default">Buy Token Now <i class="ion-ios-arrow-thin-right"></i></a> </div>
                </div>
            </div>
        </div>
        <div class="divider large_divider"></div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="title_light">
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Token Sale Proceeds</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center res_md_mt_20">
            <div class="col-md-7">
                <div class="token_chart res_sm_mb_30 text-center animation" data-animation="fadeInLeft" data-animation-delay="0.2s">
                    <canvas id="token_sale"></canvas>
                    <div class="pie_chart_icon">
                        <img src="{% static '/images/pie_chart_icon.png' %}" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <ul class="list_none chart_list">
                    <li class="color1 animation" data-animation="fadeInUp" data-animation-delay="0.3s">interconnection Dev.</li>
                    <li class="color2 animation" data-animation="fadeInUp" data-animation-delay="0.4s">Marketing & General</li>
                    <li class="color3 animation" data-animation="fadeInUp" data-animation-delay="0.5s">Mobile Ad Platform</li>
                    <li class="color4 animation" data-animation="fadeInUp" data-animation-delay="0.6s">Ad Platform Integration</li>
                    <li class="color5 animation" data-animation="fadeInUp" data-animation-delay="0.7s">Operational Overhead</li>
                </ul>
            </div>
        </div>
        <div class="divider large_divider"></div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="title_light">
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Token Distribution</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center flex-row-reverse res_md_mt_20">
            <div class="col-md-7">
                <div class="token_chart res_sm_mb_30 text-center animation" data-animation="fadeInRight" data-animation-delay="0.2s">
                    <canvas id="token_dist"></canvas>
                    <div class="pie_chart_icon">
                        <img src="{% static '/images/pie_chart_icon.png' %}" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <ul class="list_none chart_list">
                    <li class="color4 animation" data-animation="fadeInUp" data-animation-delay="0.3s">ICO Sale</li>
                    <li class="color6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">Build Out</li>
                    <li class="color7 animation" data-animation="fadeInUp" data-animation-delay="0.5s">Team & Advisers</li>
                    <li class="color3 animation" data-animation="fadeInUp" data-animation-delay="0.6s">Private Investors</li>
                    <li class="color2 animation" data-animation="fadeInUp" data-animation-delay="0.7s">Bounty</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shape shap5"></div>
    <div class="shape shap6"></div>
</section>
<!-- END SECTION TOKEN -->

<!-- START SECTION TIMELINE & MOBILE APP -->
<section id="road_map" class="small_pt small_pb">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="title_light">
                    <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Road Map</span>
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Cryptoking Timeline</h2>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Cryptominded is a curated directory of the best cryptocurrency resources. We're slowly transforming the website into the best place for beginners to learn about cryptocurrencies</p>
                </div>
            </div>
        </div>
        <div class="roadmap owl-carousel small_space animation" data-animation="fadeInUp" data-animation-delay="0.4s">
            <div class="item">
                <div class="roadmap_box rd_complete">
                    <div class="roadmap_inner">
                        <div class="roadmap_icon icon_gradient_box"></div>
                        <h6>Aprile 2018</h6>
                        <p>Inotial Coin Distribution &amp; maketing</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="roadmap_box rd_complete">
                    <div class="roadmap_inner">
                        <div class="roadmap_icon icon_gradient_box"></div>
                        <h6>February 2018</h6>
                        <p>Exchange Bitcontent to Bitcoin</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="roadmap_box">
                    <div class="roadmap_inner">
                        <div class="roadmap_icon icon_gradient_box"></div>
                        <h6>March 2018</h6>
                        <p>BTCC mode of payment in Bitconcent</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="roadmap_box">
                    <div class="roadmap_inner">
                        <div class="roadmap_icon icon_gradient_box"></div>
                        <h6>June 2018</h6>
                        <p>Send-Receive coin Bitconcent &amp; mobile</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="roadmap_box">
                    <div class="roadmap_inner">
                        <div class="roadmap_icon icon_gradient_box"></div>
                        <h6>October 2018</h6>
                        <p>Coin Marketcap, World Coin Index</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="roadmap_box">
                    <div class="roadmap_inner">
                        <div class="roadmap_icon icon_gradient_box"></div>
                        <h6>December 2018</h6>
                        <p>Buy &amp; Sell Bitconcent Coin</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="roadmap_box">
                    <div class="roadmap_inner">
                        <div class="roadmap_icon icon_gradient_box"></div>
                        <h6>December 2018</h6>
                        <p>Deposit Bitcoin from your account</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="roadmap_box">
                    <div class="roadmap_inner">
                        <div class="roadmap_icon icon_gradient_box"></div>
                        <h6>December 2018</h6>
                        <p>Exchange Bitcontent to Bitcoin</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="mobileapp" class="mobileapp text_md_center">
            <div class="divider large_divider"></div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="title_light">
                        <span class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">CryptoKing App</span>
                        <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Download Mobile App</h2>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">The Cryptoking very own app is available to download for your iPhone or Android™ device! ... Now Download the new mobile app, and get the most out of your membership with special tools designed to enhance your experience.</p>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Download the Cryptoking new mobile app, and get the most out of your membership with special tools designed to enhance your experience.
                        </p>
                    </div>
                    <div class="animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                        <a href="#" class="btn btn-default"><span class="ion-social-android"></span>Google Store <i class="ion-ios-arrow-thin-right"></i></a>
                        <a href="#" class="btn btn-default"><span class="ion-social-apple"></span>Apple Store <i class="ion-ios-arrow-thin-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                    <div class="res_md_mt_50 res_sm_mt_30 animation" data-animation="fadeInRight" data-animation-delay="0.1s">
                        <img src="{% static '/images/mobile_dark.png' %}" alt="mobile" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION TIMELINE & MOBILE APP -->

<!-- START SECTION TEAM -->
    <section id="team" class="team_wrap small_pt small_pb" data-parallax="scroll" data-image-src="{% static '/images/team_bg2.png' %}">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="title_light">
                    <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Our Core Team</span>
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Professional Experts</h2>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">we are proud of our great team.He is one of the most motivated and enthusiastic people we have, and is always ready and willing to help out where needed. </p>
                </div>
            </div>
        </div>
        <div class="row small_space">
            <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30">
                <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.05s">
                    <div class="team_img text-center">
                        <img src="{% static '/images/user_img.jpg' %}" alt="user_img" />
                        <div class="social_team list_none">
                            <ul>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_info text-center">
                        <h4><a href="#team1" class="content-popup">Walter Mark</a></h4>
                        <p>Director</p>
                    </div>
                    <div id="team1" class="team_pop mfp-hide">
                        <div class="row m-0">
                            <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="{% static '/images/user_img-lg.jpg' %}" alt="user_img-lg" /> </div>
                            <div class="col-md-6">
                                <div class="pt-3 pb-3">
                                    <div class="title_dark"> <span>Director</span>
                                        <h2>Walter Mark</h2>
                                    </div>
                                    <div class="social_single_team list_none">
                                        <ul>
                                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                        </ul>
                                    </div>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30">
                <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <div class="team_img text-center">
                        <img src="{% static '/images/user_img.jpg' %}" alt="user_img" />
                        <div class="social_team list_none">
                            <ul>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_info text-center">
                        <h4><a href="#team2" class="content-popup">Lissa Tero</a></h4>
                        <p>Project Manager</p>
                    </div>
                    <div id="team2" class="team_pop mfp-hide">
                        <div class="row m-0">
                            <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="{% static '/images/user_img-lg.jpg' %}" alt="user_img-lg" /> </div>
                            <div class="col-md-6">
                                <div class="pt-3 pb-3">
                                    <div class="title_dark"> <span>Project Manager</span>
                                        <h2>Lissa Tero</h2>
                                    </div>
                                    <div class="social_single_team list_none">
                                        <ul>
                                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                        </ul>
                                    </div>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 res_xs_mb_30">
                <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.7s">
                    <div class="team_img text-center">
                        <img src="{% static '/images/user_img.jpg' %}" alt="user_img" />
                        <div class="social_team list_none">
                            <ul>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_info text-center">
                        <h4><a href="#team3" class="content-popup">Kartik Sef</a></h4>
                        <p>Programmer</p>
                    </div>
                    <div id="team3" class="team_pop mfp-hide">
                        <div class="row m-0">
                            <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="{% static '/images/user_img-lg.jpg' %}" alt="user_img-lg" /> </div>
                            <div class="col-md-6">
                                <div class="pt-3 pb-3">
                                    <div class="title_dark"> <span>Programmer</span>
                                        <h2>Kartik Sef</h2>
                                    </div>
                                    <div class="social_single_team list_none">
                                        <ul>
                                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                        </ul>
                                    </div>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="1s">
                    <div class="team_img text-center">
                        <img src="{% static '/images/user_img.jpg' %}" alt="user_img" />
                        <div class="social_team list_none">
                            <ul>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_info text-center">
                        <h4><a href="#team4" class="content-popup">Laura Sandel</a></h4>
                        <p>Market Analysis</p>
                    </div>
                    <div id="team4" class="team_pop mfp-hide">
                        <div class="row m-0">
                            <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="{% static '/images/user_img-lg.jpg' %}" alt="user_img-lg" /> </div>
                            <div class="col-md-6">
                                <div class="pt-3 pb-3">
                                    <div class="title_dark"> <span>Market Analysis</span>
                                        <h2>Laura Sandel</h2>
                                    </div>
                                    <div class="social_single_team list_none">
                                        <ul>
                                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                        </ul>
                                    </div>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider large_divider"></div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="title_light">
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Our Invester</h2>
                </div>
            </div>
        </div>
        <div class="row small_space justify-content-center">
            <div class="col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30">
                        <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.05s">
                            <div class="team_img text-center">
                                <img src="{% static '/images/user_img.jpg' %}" alt="user_img" />
                                <div class="social_team list_none">
                                    <ul>
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_info text-center">
                                <h4><a href="#team5" class="content-popup">Joseph Conrad</a></h4>
                                <p>Invester</p>
                            </div>
                            <div id="team5" class="team_pop mfp-hide">
                                <div class="row m-0">
                                    <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="{% static '/images/user_img-lg.jpg' %}" alt="user_img-lg" /> </div>
                                    <div class="col-md-6">
                                        <div class="pt-3 pb-3">
                                            <div class="title_dark"> <span>Invester</span>
                                                <h2>Joseph Conrad</h2>
                                            </div>
                                            <div class="social_single_team list_none">
                                                <ul>
                                                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                                </ul>
                                            </div>
                                            <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30">
                        <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                            <div class="team_img text-center"> <img src="{% static '/images/user_img.jpg' %}" alt="user_img" />
                                <div class="social_team list_none">
                                    <ul>
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_info text-center">
                                <h4><a href="#team6" class="content-popup">Julie Tokar</a></h4>
                                <p>Invester</p>
                            </div>
                            <div id="team6" class="team_pop mfp-hide">
                                <div class="row m-0">
                                    <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="{% static '/images/user_img-lg.jpg' %}" alt="user_img-lg" /> </div>
                                    <div class="col-md-6">
                                        <div class="pt-3 pb-3">
                                            <div class="title_dark"> <span>Invester</span>
                                                <h2>Julie Tokar</h2>
                                            </div>
                                            <div class="social_single_team list_none">
                                                <ul>
                                                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                                </ul>
                                            </div>
                                            <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-6 offset-sm-3">
                        <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.7s">
                            <div class="team_img text-center"> <img src="{% static '/images/user_img.jpg' %}" alt="user_img" />
                                <div class="social_team list_none">
                                    <ul>
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_info text-center">
                                <h4><a href="#team7" class="content-popup">Sandhya Rani</a></h4>
                                <p>Invester</p>
                            </div>
                            <div id="team7" class="team_pop mfp-hide">
                                <div class="row m-0">
                                    <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="{% static '/images/user_img-lg.jpg' %}" alt="user_img-lg" /> </div>
                                    <div class="col-md-6">
                                        <div class="pt-3 pb-3">
                                            <div class="title_dark"> <span>Invester</span>
                                                <h2>Sandhya Rani</h2>
                                            </div>
                                            <div class="social_single_team list_none">
                                                <ul>
                                                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                                </ul>
                                            </div>
                                            <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="faq">
            <div class="divider large_divider"></div>
            <div class="row text-center">
                <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="title_light">
                        <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">FAQs</span>
                        <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Frequently Asked Questions</h2>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Frequently asked questions (FAQ) or Questions and Answers (Q&A), are listed questions and answers, all supposed to be commonly asked in some context</p>
                    </div>
                </div>
            </div>
            <div class="row small_space">
                <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div id="accordion" class="faq_content">
                        <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                            <div class="card-header" id="headingOne">
                                <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is cryptocurrency?</a> </h6>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body"> Cryptocurrency is a form of payment that can be exchanged online for goods and services. Many companies have issued their own currencies, often called tokens, and these can be traded specifically for the good or service that the company provides. Think of them as you would arcade tokens or casino chips. You'll need to exchange real currency for the cryptocurrency to access the good or service. </div>
                            </div>
                        </div>
                        <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <div class="card-header" id="headingTwo">
                                <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Which cryptocurrency is best to buy today?</a> </h6>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body"> The best cryptocurrency to buy is one we are willing to hold onto even if it goes down. For example, I believe in Steem enough that I am willing to hold it even if it goes down 99% and would start buying more of it if the price dropped. </div>
                            </div>
                        </div>
                        <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                            <div class="card-header" id="headingThree">
                                <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How about day trading crypto?</a> </h6>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body"> While profits are possible trading cryptocurrencies, so are losses. My first year involved me spending hundreds of hours trading Bitcoin with a result of losing over $5,000 with nothing to show for it. Simply trading digital currencies is very similar to gambling because no one really knows what is going to happen next although anyone can guess! While I was lucky to do nothing expect lose money when I started, the worst thing that can happen is to get lucky right away and get a big ego about what an amazing cryptocurrency trader we are. </div>
                            </div>
                        </div>
                        <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                            <div class="card-header" id="headingFour">
                                <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">When to sell a cryptocurrency?</a> </h6>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body"> Before Steem I was all in an another altcoin and really excited about it. When I first bought the price was low and made payments to me every week just for holding it. As I tried to participate in the community over the next several months, I was consistently met with a mix of excitement and hostility. When I began talking openly about this, the negative emotions won over in the community and in me. Originally I had invested and been happy to hold no matter what the price which quickly went up after I bought it. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape shap5"></div>
    <div class="shape shap6"></div>
</section>
<!-- END SECTION TEAM -->

<!-- START SECTION WHITEPAPER & CONTACT -->
<section id="whitepaper" class="small_pt">
    <div class="container">
        <div class="row text_sm_center">
            <div class="col-lg-7 col-md-7">
                <div class="title_light">
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Download Whitepaper</h2>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">A white paper is an authoritative report or guide that informs readers concisely about a complex issue and presents the issuing body's philosophy on the matter. It is meant to help readers understand an issue, solve a problem, or make a decision.</p>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Marketers create whitepapers to educate their audience about a particular issue, or explain and promote a particular methodology.</p>
                </div>
                <a class="btn btn-default animation" data-animation="fadeInUp" data-animation-delay="0.4s" href="#"><span class="ion-android-download"></span>Download Now <i class="ion-ios-arrow-thin-right"></i></a> </div>
            <div class="col-lg-4 offset-lg-1 col-md-5">
                <div class="res_md_mt_30 animation" data-animation="fadeInRight" data-animation-delay="0.1s">
                    <img alt="whitepaper" src="{% static '/images/whitepaper.png' %}">
                </div>
            </div>
        </div>
        <div id="contact">
            <div class="divider large_divider"></div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="title_light">
                        <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Contact Us</span>
                        <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Get in touch!</h2>
                    </div>
                </div>
            </div>
            <div class="divider small_divider"></div>
            <div class="row">
                <div class="col-md-7 col-lg-6 offset-lg-1">
                    <form method="post" name="enq" class="form_field">
                        <div class="row">
                            <div class="form-group col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                                <input type="text" required="required" placeholder="Enter Name *" id="first-name" class="form-control" name="name">
                            </div>
                            <div class="form-group col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                                <input type="email" required="required" placeholder="Enter Email *" id="email" class="form-control" name="email">
                            </div>
                            <div class="form-group col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                                <input type="text" required="required" placeholder="Enter Subject" id="subject" class="form-control" name="subject">
                            </div>
                            <div class="form-group col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                <textarea required="required" placeholder="Message *" id="description" class="form-control" name="message" rows="2"></textarea>
                            </div>
                            <div class="col-md-12 text-center animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                                <button type="submit" title="Submit Your Message!" class="btn btn-default" id="submitButton" name="submit" value="Submit">Submit <i class="ion-ios-arrow-thin-right"></i></button>
                            </div>
                            <div class="col-md-12">
                                <div id="alert-msg" class="alert-msg text-center"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 col-md-5 res_sm_mt_30">
                    <ul class="list_none contact_info mt-margin">
                        <li class="input-group-prepend align-items-center animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                            <i class="ion-ios-location"></i>
                            <div class="contact_detail">
                                <span>Address</span>
                                <p>22 International Division Via G.B. Pirelli</p>
                            </div>
                        </li>
                        <li class="input-group-prepend align-items-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <i class="ion-android-call"></i>
                            <div class="contact_detail">
                                <span>Phone</span>
                                <p>+23 0123 4567</p>
                            </div>
                        </li>
                        <li class="input-group-prepend align-items-center animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                            <i class="ion-ios-email"></i>
                            <div class="contact_detail">
                                <span>Email</span>
                                <p>Yourmail@gmail.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- START SECTION WHITEPAPER & CONTACT -->

<!-- START CLIENTS SECTION -->
<section class="bg_black_dark client_logo">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="title_light">
                    <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Partners</span>
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Our Clients</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center text_md_center">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                    <img src="{% static '/images/light_client_logo1.png' %}" alt="client_logo1" />
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <img src="{% static '/images/light_client_logo2.png' %}" alt="client_logo2" />
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <img src="{% static '/images/light_client_logo3.png' %}"  alt="client_logo3" />
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <img src="{% static '/images/light_client_logo4.png' %}"  alt="client_logo4" />
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                    <img src="{% static  '/images/light_client_logo5.png' %}" alt="client_logo5" />
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                    <img src="{% static '/images/light_client_logo6.png' %}" alt="client_logo6" />
                </div>
            </div>
        </div>
    </div>
    <div class="rounded_shape light_rounded_shape3"></div>
</section>

<!-- END CLIENTS SECTION -->

{% endblock content %}